*{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
                                                      /*header*/
header{
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
ul li{
  list-style: none;
}
.nav1{
  padding: 1.5% 6%;
  align-items: center;
  background-color: #1F3058;
}
.container-nav{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 40px;
}
.nav1 img{
  width: 200px;
  height: 53px;
}
.nav1{
  flex: 1;
  text-align: right;
}
.nav1 ul li{
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 a{
  text-decoration: none;
  color:#fff;
  font-size: 13px;
}
.description ul li{
  list-style: none;
}
.nav__item{
  color: #D8D8D8;
}
.nav1 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav1 .circle{
  color: #D8D8D8;
  width: 15.67px;
  height: 16px;
  padding-top: 5px;
}
.search-form {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc; /* Граница для формы */
}

.search-form input[type="text"] {
  border: none; /* Убираем стандартную рамку поля ввода */
  outline: none; /* Убираем обводку при фокусе */
  padding: 5px;
  flex: 1; /* Поле ввода занимает всё доступное пространство */
  background-color: #D8D8D8;
  opacity: 0.9;
}

.search-form button {
  background-color: #1F3058;
  border: none; /* Убираем стандартную рамку кнопки */
  padding: 7.5px;
  cursor: pointer; /* Курсор меняется на указатель при наведении */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form button img {
  width: 15px;
  height: 13px;
}
.container-header{
  margin: 0 100px;
}
.nav2{
  margin-top: 10px;
  background-color: #2D457C;
}

.nav-links ul li{
  display: inline-block;
  list-style: none;
  padding-left: 28px;
  padding-top: 7px;
  padding-bottom: 10px;
  margin-right: 5px;
  position: relative;
}
.nav__link{
  color: #D8D8D8;
  opacity: 0.9;
}
.nav-links ul li a{
  font-size: 9px;
  font-weight: 600;
  color: #D8D8D8;
}
.nav-links{
  margin: 0px 45px;
}
.div-direction {
  margin-top: -10px;
  margin-left: 170px;
}
.directions{
  font-size: 10px;
  color: #808080;
  margin-top: 30px;
  margin-bottom: 10px;
}
/*main*/
p {
  font-size: 14.5px;
  font-weight: 500;
}

h1 {
  font-weight: 600;
}

.container-main {
  margin: 0px 170px;
}
.right-side2 {
  display: none;
}
.section-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px;
}

.right-side1 img {
  width: 450px;
}

.section-7-title{
  display: none;
}
.left-side1 {
  margin-right: 30px;
}

.left-side1 p {
  margin-bottom: 20px;
}

.section-3 {
  margin-left: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-3 .card-main{
  margin-top: 50px;
}
.card-main {
  margin-left: 30px;
}

.section-3-title {
  margin-bottom: 15px;
}

.section-3-title span {
  color: #DBA620;
}

.section-3-content {
  width: 75%;
  margin-left: 45px;
  position: relative;
}

.section-3-content::before {
  content: "";
  width: 1px;
  height: 110%;
  position: absolute;
  background-color: #DBA620;
  left: -45px;
  top: -5px;
}

.section-4-title {
  margin-top: 120px;
  margin-bottom: 25px;
  color: #DBA620;
}

.left-side4 {
  margin-right: 40px;
}

.card-main-5 .section-3-content {
  width: 60%;
}

.card-main-5 {
  margin-left: 150px;
  margin-top: 70px;
  margin-bottom: 140px;
}

.section-6-title {
  text-align: center;
  margin-left: 380px;
}

.left-side6 img {
  width: 400px;
}

.left-side6 {
  margin-right: 110px;
  text-align: center;
}

.left-side6 p {
  font-size: 10px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.right-side6 p {
  margin-bottom: 20px;
  position: relative;
}

.right-side6 p::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #DBA620;
  left: -25px;
}

.section-6-title span {
  color: #DBA620;
}

 /*footer*/
footer{
  margin-top: 50px;
  padding-bottom: 30px;
  background-color: #1F3058;
}
.container-footer{
  margin-left: 120px;
  margin-right: 150px;
}
.social-medias{
  padding-top: 13px;
}
.social-items a img{
  width: 18px;
  margin-right: 6px;
}
.social-medias p {
  margin-bottom: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}
.social-items{
  display: flex;
}
footer .about h4{
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
footer .about ul li{
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
}
.card-h4{
  letter-spacing: 1px;
  width: 70%;
}
.card-h4::after{
  content: '';
  width: 100%;
  height: 2px;
  background: #DBA620;
  display: block;

  transition: 0.35s linear;
}
.about{
  margin-bottom: 60px;
}
.service-to-society p{
 color: #fff;
 opacity: 0.8;
 margin-bottom: 10px;
}

.service-to-society ul li{
  opacity: 0.8;
  margin-bottom: 10px;
}
.cards{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.colored-line {
  border: none; /* Убираем стандартное оформление линии */
  height: 2px; /* Задаем высоту линии */
  background-color: #DBA620; /* Устанавливаем цвет линии */
  margin-top: 10px;
}

.footer-info{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.address{
  margin-right: 30px;
  color: #fff;
  letter-spacing: 0.5px;
}

.address h5{
 font-size: 13px;
 font-weight: 400;
 margin-bottom: 2px;
}
.address p{
  font-size: 12px;
  font-weight:lighter;
}
.contacts{
  color: #fff;
  letter-spacing: 0.5px;
}
.contacts h5{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px;
 }
 .contacts p{
   font-size: 12px;
   font-weight:lighter;
 }
 .with-icon{
  display: flex;
  align-items:center;
 }
 .with-icon img{
  margin-right: 9px;
 }
 .lii{
  margin-top: -7px;
 }

 @media (max-width:1326px){
  .nav-links ul li a{
    font-size: 9px;
  }

  footer .about ul li a{
    font-size: 12px;
  }
  .address p,
  .contacts p{
    font-size: 10px;
  }
  .address h5,
  .contacts h5{
    font-size: 13px;
  }

 }

 @media (max-width:1110px) {
 .about ul li a,
 .service-to-society p a,
 .service-to-society ul li a{
  font-size: 10px;
 }
 .section-3{
  display: block;
 }
 .section-3 .card-main{
  margin-top: 50px;
 }
 .section-4{
  display: block;
 }
 .right-side2{
  display: block;
  margin-bottom: 20px;
 }
 .section-3-title{
  text-align: left;
 }
 .right-side2 img{
  width: 90%;
 }
 .right-side7 {
  display: none;
 }
 .section-6{
  margin-left: 15%;
  flex-direction: column;
 }
.left-side6{
  margin-bottom: 60px;
  margin-top: 20px;
}
 .section-6-title{
  display: none;
 }
 .section-7-title{
  display: block;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 0px;
 }
 .card-main-5{
  margin-bottom: 60px;
 }
.card-h4{
  letter-spacing: 1px;
  width: 100%;
}
.container-footer{
  margin-left: 70px;
  margin-right: 100px;
}
.address p,
.contacts p {
  font-size: 8px;
}
.address h5,
.contacts h5{
  font-size: 10px;
}
.social-medias p{
  font-size:10px;
}
.social-items{
  width: 12%;
}
.social-items a img{
  width: 80%;
}
footer .about ul li a{
  font-size: 10px;
}
 }
 
 @media (max-width:1000px){
  .container-main,
  .div-direction{
    margin-left: 140px;
  }
  .nav__item .circle{
    width: 20px;
  }
 } 

 @media (max-width:900px){
  .container-main{
    margin-left: 150px;
    margin-right: 40px;
  }

  .nav__link{
    font-size: 10px;
  }
  .search-form button img {
    width: 15px;
    height: 13px;
  }
  .about ul,
  .service-to-society{
    display: none;
  }
  .colored-line{
    display: none;
  }
  .footer-info{
    margin-top: -20px;
  
  }
  .social-items{
    width: 35%;
  }
 }
 
 @media (max-width:800px){
  .container-nav{
    display: block;
    margin: 5px;
    padding-bottom: 0px;
  }
  .div-direction{
    display: none;
  }
  .nav1{
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .card-main{
    width: 100%;
    margin-left: 1px;
  }
  .section-3 .card-main{
    margin-left: -105px;
  }
  .section-6-title{
    margin-left: -90px;
  }
  .left-side6 img {
    width: 300px;
  }
  .left-side6{
    margin-left: -140px;
  }
  .right-side6{
    margin-left: -55px;

  }
  .logo_image{    
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
  }
  .card-h4::after{
    display: none;
  }
  .nav_menu{
    padding: 0% 6%;
    padding-top: 2%;
    position: relative;
  }
  .nav_menu::before{
    content: "";
    width: 100%;
    height: 8%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav2{
    display: none;
  }
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 50px;
  }
  .service-to-society{
    margin-top: -50px;
  }
  .social-items{
    width: 35%;
  }
 }
 @media (max-width:638px){
  .container-main,
  .div-direction{
    margin-left: 5%;
    margin-right: 5%;
  }
  .social-medias p{
    display: none;
  }
  .social-items{
    width: 30%;
  }
  .about h4{
    width: 120%;
  }
  .card-main{
    width: 120%;
  }
 }
 @media (max-width:541px){
  .section-7-title{
    margin-left: -25px;
    font-size: 14px;
  }
  .container-main{
    margin-left: 10%;
  }
  .container-footer{
    margin-right: 20px;
    margin-left: 40px;
  }
  .left-side6{
    margin-left: -50px;
  }
  .right-side6{
    margin-left:-21px;
  }
  .left-side6 img{
    width: 110%;
    margin: auto;
  }
  .hamb{
    display: block;
  }
  .nav__item .hamb{
    width: 20px;
  }
  .nav__item .circle{
    width: 20px;
  }
  .search-form{
    margin-left: -15px;
    width: 80%;
  }
  .colored-line{
    display: none;
  }
  .cards-footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-right: 60px;

  }
  .card{
    margin-top: -84px;
  }
  .footer-info{
    flex-direction: column;
    align-items: baseline;
  }
  .about{
    width: 100%;
  }
  .card-h4{
  font-size: 10px;
  height: 1px;
  }
  .address{
    margin-bottom: 20px;
  }
  .contacts p {
    font-size: 11px;
    opacity: 0.8;

  }
  .address p{
    font-size: 11px;
    opacity: 0.8;
    width: 80%;
  }
  .address h5,
  .contacts h5{
    font-size: 12px;
    width: 80%;
  }

  .search-form,
  .search-form input[type="text"] {
  width: 80%;
  }
}